<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="#">Flight Management System</a> -->
      <a class="navbar-brand" routerLink="/">Flight Management System</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li routerLinkActive="active" *ngIf="isAuthenticated">
            <a class="nav-link" routerLink="/flight">Flight</a>
          </li>
          <li routerLinkActive="active" *ngIf="!isAuthenticated">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li routerLinkActive="active" *ngIf="!isAuthenticated">
            <a class="nav-link" routerLink="/signup">Sign up</a>
          </li>
          <li routerLinkActive="active" *ngIf="isAuthenticated">
            <a class="nav-link" routerLink="/account">Account</a>
          </li>
          <li *ngIf="isAuthenticated">
            <a class="nav-link" style="cursor: pointer" (click)="onLogout()"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
  