<div *ngIf="flight">
  <br />
  <div class="row">
    <div class="col-xs-12">
      <div class="alert alert-danger" *ngIf="error">
        <p>{{ error }}</p>
      </div>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
        >
          Manage Flight <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a style="cursor: pointer" (click)="onEditFlight()">Edit Flight</a>
          </li>
          <li class="dropdown-item">
            <a style="cursor: pointer" (click)="onDeleteFlight()"
              >Delete Flight</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12">Numer lotu: {{ flight.numerLotu }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">Data wylotu: {{ flight.dataWylotu | date: 'yyyy-MM-dd HH:mm' }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">Miejsce wylotu: {{ flight.miejsceWylotu }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">Miejsce przylotu: {{ flight.miejscePrzylotu }}</div>
  </div>
  <div class="row">
    <div class="col-xs-12">Typ samolotu: {{ flight.typSamolotu }}</div>
  </div>
</div>
