<hr />
<div *ngIf="isLoading" style="text-align: center;">
  <p>Loading...</p>
</div>
<div class="table" *ngIf="!isLoading">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Numer lotu</th>
        <th>Data wylotu</th>
        <th>Miejsce wylotu</th>
        <th>Miejsce przylotu</th>
        <th>Typ samolotu</th>
      </tr>
    </thead>
    <tbody>
      <tr 
        app-flight-item
        *ngFor="let flightEl of flights; let i = index"
          [flight]="flightEl"
          (flightToUpdate)="editFlight($event)"
          [index]="flightEl.id"
          [routerLink]=[flightEl.id]
      >
      </tr>
    </tbody>
  </table>
</div>
